input.ch-input {
    cursor: text;
    position: relative;
    background: transparent;
    height: 20px;
    margin: 24px 12px auto 12px;
    border: none;
    width: -webkit-fill-available;
    padding: 0;
    z-index: 99;
    
}

.ch-label {
    position: absolute;
    background: transparent;
    height: 20px;
    margin: 20px 12px auto 12px;
    border: none;
    /* width: -webkit-fill-available; */
    padding: 0;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
}

.ch-label.active {
    color: #4caf50;
    font-size: 12px;
    transform: translateY(-16px) ;
    transition: .3s
}

.ch-field {
    background-color: #ddd;
    height: 56px; 
    border-radius: 4px 4px 0 0;
    position: relative;
    width: 100%;
    margin: 5px;
    display: flex;
}

.ch-field.outlined {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ddd;
}


.ch-field:not(.outlined) :after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    border-bottom: 2px solid #4caf50;
    transform: scaleX(0);
    opacity: 0;
    transition: opacity .3s, transform 0s .3s;
}

.ch-field:not(.outlined).active:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
    opacity: 1;
    border-bottom: 2px solid #4caf50;
    transform: scaleX(1);
    transition: transform 0.3s;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

input.ch-input-outlined {
    cursor: text;
    position: relative;
    background: transparent;
    height: 20px;
    margin: 16px 12px auto 14px;
    border: none;
    width: -webkit-fill-available;
    padding: 0;
    z-index: 99;
}

.ch-label-outlined {
    /* position: absolute; */
    background: transparent;
    height: 20px;
    margin: 16px 4px auto 4px;
    border: none;
    /* width: -webkit-fill-available; */
    padding: 0;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.ch-label-outlined.focus {
    margin: 15px 4px auto 3px;
    color: #4caf50;
    font-size: 12px;
    transform: translateY(-26px) ;
    transition: transform, font-size, margin .3s
}

.ch-label-outlined-cont {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.ch-label-outlined:not(.focus).active {    
    font-size: 12px;
    transform: translateY(-26px) ;
    transition: transform, font-size, margin .3s
}

.ch-field.outlined.focus {
    border: 2px solid;
    padding: 0;
    color: #4caf50;
    border-color: #4caf50;
    transition: 0.3s;
}


.ch-field.outlined.active:not(.focus) {
    border: 1px solid #ddd;
    padding: 1px;
    transition: 0.3s;
}

.ch-label-outlined-top {
    position: absolute;
    height: 2px;
    background: #fff;
    top: -2px;
    /* left: 0; */
    width: 0;
    transition: .3s;
}

.ch-label-outlined-top.active {
    width: 100%;
    transition: .3s
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=url] {
    border: none;
    padding: 0;
}

.btn-spin:not(input):hover {
    cursor: pointer;
    border: 2px solid #adb0b2; 
}
/* .btn-spin.hover {
    cursor: pointer;
    border: 2px solid #4caf50; 

} */

.btn-spin:not(input):active {
    /* border: 2px solid red; */
    background: #adb0b2;
}

a.btn-spin {
    cursor: pointer;    
    transition: all ease 0.3s;
    border-radius: 50%;
    border-color: transparent;
    user-select: none;
}
input.btn-spin {
    cursor: pointer;  
    user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99;
    border: none;
}

div.btn-spin {
    cursor: pointer;    
    transition: all ease 0.3s;
    border-radius: 50%;
    border-color: transparent;
    user-select: none;
    position: relative;
    background: transparent;
    
    z-index: 99;
}