.avatar {
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
    min-width: 85px;
    min-height: 85px;
    margin: 24px;
  }

.user-info {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all;
    display: flex;
    /* flex: auto; */
    flex-direction: column;
  }

  
.margin-18 {margin: 18px}

