.btn-select-day.active:hover, .btn-select-day:hover, .btn-select-day.current:hover  {
    cursor: pointer;
    border: 2px solid #adb0b2; 
}

.btn-select-day:active {
    /* border: 2px solid red; */
    background: #adb0b2;
}

a.btn-select-day {
    cursor: pointer;    
    transition: all ease 0.3s;
    border-radius: 50%;
    border-color: transparent;
    user-select: none;
}

.btn-select-day.active {
    border: 2px solid #00b259; 
}
.btn-select-day.current {
    border: 2px solid #013a812e;
}