.flex-container {
    display: flex;
    flex-direction: raw;
    /* background: red;  */
    /* justify-content: flex-end;  */
    /* flex: auto; */
  }
  
  .flex-container > .flex-item {
    flex: auto;
    /* background: yellow; */
    text-align: left;
  }
  
  .flex-container > .raw-item {
    font-size: 20px;
    background: green;
    width: 11rem;
  }
  
  