.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    margin: 0px 0px 2px 0px;
  }
  .flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    
  }  
  .flex-item {
    flex: auto;
  }
  
  .flex-menu > .raw-item {
  }
  .flex-container {
    font-family: Consolas, Arial, sans-serif;
  }
  