.avatar {
    text-align: center;
    font-weight: normal;
    display: flex;
    justify-content: center;
  }

.user-info {
    display: flex;
    font-size: 18px;
    font-weight: bold;
  }

.margin-18 {margin: 18px}