
.name-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.phone-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.email-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.post-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.office-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.roles-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin: 8px 0px 10px 0px ;
    font-weight: normal;
}

.roles-edit > .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px ;
    font-weight: normal;
} 

.title > .my-btn-flat {
    padding: 0 0.5rem;
    font-size: 12px
}

.footer > .my-btn-flat {
    padding: 0 8px;
    margin: 0 4px;
    font-size: 14px;
    height: 36px;    
    color: #26a69a;

}


[type="checkbox"]+span:not(.lever) {
    padding-left: 48px;
    display: inline;
    line-height: 24px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    width: 10px;
    height: 14px;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
}



.modal-menu > .header {
    font-size: 21px;
    font-weight: bold;
    margin: 0 24px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-menu > .collection > .collection-item {
    height: 48px;
    font-size: 16px;
    padding: 10px 24px;
    border-bottom: 0px;
    color: black;
    
}


.modal-menu > .collection {
    margin: 0;
    border-right-width: 0px;
    border-left-width: 0px;
}

.modal-menu > .footer {
    font-weight: bolder;
    margin: 0 4px 0 24px;
    height: 52px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.title-edit {
    margin: 0px 0px 20px 0px ;
    font-size: 21px;
    font-weight: 900;
}

@media (min-height: 720px) {
.avatar-panel {
    border-bottom: 1px lightgrey solid ;
    display: flex;
    border-left: 1px lightgrey solid ;
    flex-direction: column; 
    justify-content: flex-start;
    flex: auto;
    padding: 20px; 
}}

@media (max-height: 719px) {
    .avatar-panel {
        border-bottom: 1px lightgrey solid ;
        display: flex;
        border-left: 1px lightgrey solid ;
        flex-direction: column; 
        justify-content: flex-start;
        flex: auto;
        padding: 5px 10px 20px 20px; 
    }}

form.edit{
    margin: 25px 0px 0 0px;
    overflow: auto;
}

.modal-menu {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fafafa;
    /* padding: 0; */
    /* max-height: 70%; */
    margin: 0 10px;
    border-radius: 4px;
    will-change: top, opacity;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);    
    z-index: 1003;
}

input[type=text] {
    height: 2.5rem;
}

input[type=email] {
    height: 2.5rem;
}

.btn {
    height: 32.4px;
    line-height: 32.4px;
    font-size: 13px;
}

.button-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.md-18 {font-size: 18px}
.margin-right-10 {margin-right: 10px}