
.name-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.phone-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.email-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.post-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.office-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.roles-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.title-edit {
    margin: 8px 0px 20px 0px ;
    font-size: 18px;
    font-weight: 900;
}

@media (min-height: 720px) {
.avatar-panel {
    border-bottom: 1px lightgrey solid ;
    display: flex;
    border-left: 1px lightgrey solid ;
    flex-direction: column; 
    justify-content: flex-start;
    flex: auto;
    padding: 20px; 
}}

@media (max-height: 719px) {
    .avatar-panel {
        border-bottom: 1px lightgrey solid ;
        display: flex;
        border-left: 1px lightgrey solid ;
        flex-direction: column; 
        justify-content: flex-start;
        flex: auto;
        padding: 5px 20px 20px 20px; 
    }}

.edit{
    margin: 25px 0px 0 0px
}


input[type=text] {
    height: 2.5rem;
}

input[type=email] {
    height: 2.5rem;
}

.btn {
    height: 32.4px;
    line-height: 32.4px;
    font-size: 13px;
}

.button-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.md-18 {font-size: 18px}
.margin-right-10 {margin-right: 10px}