
.name-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 12px 0px 0 0px ;
    font-weight: normal;
}

.phone-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.email-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.post-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.office-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.password-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 8px 0px 0 0px ;
    font-weight: normal;
}

.roles-edit {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin: 8px 0px 10px 0px ;
    font-size: 16px;
    font-weight: normal;
}

.roles-edit > .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px ;
    font-weight: normal;
} 

.title-edit > .my-btn-flat {
    padding:  0 8px;
    overflow: unset;
}

.my-checkbox {
    margin: 0 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center
}


.my-btn-flating {
    border-radius: 50%;
    padding: 0 8px;
   
}

.my-btn-flat {
    font-weight: bold;
    margin: 0 8px;
}

.header-edit {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 0 24px 
}


[type="checkbox"]+span:not(.lever) {
    padding-left: 48px;
    display: inline;
    line-height: 24px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    width: 10px;
    height: 14px;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #4caf50;
    background-color: #4caf50;
    z-index: 0;
}





.title-edit {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    text-overflow: clip;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

.title-roles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* margin: 15px 10px 0 20px ; */
    /* font-weight: 900; */
}
.color-accent {
    color: #26a69a;
}


@media (min-height: 720px) {
.avatar-panel {
    border-bottom: 1px lightgrey solid ;
    display: flex;
    border-left: 1px lightgrey solid ;
    flex-direction: column; 
    justify-content: flex-start;
    flex: auto;
    padding: 0px 8px 0px 16px; 
}}

@media (max-height: 719px) {
    .avatar-panel {
        border-bottom: 1px lightgrey solid ;
        display: flex;
        border-left: 1px lightgrey solid ;
        flex-direction: column; 
        justify-content: flex-start;
        flex: auto;
        padding: 0px 8px 0px 16px; 
    }}

form.edit{
    /* margin: 25px 0px 0 0px; */
    overflow: auto;
}


input[type=text] {
    height: 2.5rem;
}

input[type=email]:not(.login) {
    height: 2.5rem;
}

.btn-back {
    position: relative;
    height: 24px;
    width: 24px;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;

}

.button-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.md-18 {font-size: 18px}
.md-15 {font-size: 15px}
.margin-right-10 {margin-right: 10px}