.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.flex-page {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: flex-start; 
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}
.flex-container > .flex-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  
}

.flex-item {
  flex: auto;
}

.flex-menu > .raw-item {
}
.flex-container {
  font-family: Consolas, Arial, sans-serif;
}

.my-btn-flat:hover {
  background-color: rgba(0,0,0,0.1);
  box-shadow: none;
}